<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        h1{
            width: 80%;
            margin: 20px auto;
            text-align: center;
            background-color: #222;
            color: rgb(0, 136, 255);
            padding: 50px;
            font-family: comfortaa;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    
    <h1>This is EJS INDEX</h1>

</body>
</html>